@page
{
    size:A4;
    margin: 0;
}
#print-btn
{
    display: none;
    visibility: none;
}

@media print 
{
    .ibox-tools{
        display: none;
    }
    .input-daterange{
        display: none;
    }
    .col-md-3{
        display: none;
    }

}